(control_internal) {
  reverse_proxy control-plane-prod:8088
}

(app_internal) {
  reverse_proxy control-plane-prod:9090
}

control.easyenclave.com {
  tls internal
  import control_internal
}

*.app.easyenclave.com {
  tls internal
  import app_internal
}
