(control_internal) {
  reverse_proxy https://control-plane-prod:8088 {
    transport http {
      tls_insecure_skip_verify
    }
  }
}

(app_internal) {
  reverse_proxy control-plane-prod:9090
}

(public_tls) {
  tls {
    dns cloudflare {env.CLOUDFLARE_API_TOKEN}
  }
}

control.easyenclave.com {
  import public_tls
  import control_internal
}

*.app.easyenclave.com {
  import public_tls
  import app_internal
}
