[Unit]
Description=Easy Enclave Agent (VM)
After=network-online.target docker.service
Wants=network-online.target

[Service]
Type=simple
Environment=EE_AGENT_MODE=vm
Environment=EE_AGENT_DIR=/opt/ee-agent
Environment=SEAL_VM=true
WorkingDirectory=/opt/ee-agent
ExecStart=/opt/ee-agent/venv/bin/python /opt/ee-agent/agent.py --host 0.0.0.0 --port {agent_port}
Restart=always

[Install]
WantedBy=multi-user.target
